            /*........navbar ....*/
            
            * {
                margin: 0;
                padding: 0;
            }
            
            #nav-bar {
                position: sticky;
                top: 0;
                z-index: 10;
                box-sizing: border-box;
                overflow: hidden;
            }
            
            .navbar-brand img {
                height: 20px;
                padding-right: 20px;
            }
            
            .navbar-nav li {
                padding: 0 10px;
            }
            
            .navbar-nav li a {
                float: right;
                text-align: left;
            }
            
            #nav-bar ul li a:hover {
                color: #007bff!important;
            }
            /*........slider ....*/
            
            .carousel-item {
                height: 100vh;
                min-height: 300px;
                background: no-repeat scroll center scroll;
                -webkit-background-size: cover;
                background-size: cover;
            }
            
            .carousel-item::before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: #000;
                opacity: 0.5;
            }
            
            .carousel-caption {
                bottom: 180px;
                padding-left: 100px;
                padding-right: 100px;
            }
            
            .carousel-caption h5 {
                text-align: center;
                font-size: 50px;
            }
            
            .carousel-caption p {
                font-size: 18px;
                top: 2rem;
                color: #ffe4e1;
            }
            
            .slider-btn {
                margin-top: 30px;
            }
            
            .slider-btn .btn {
                background-color: #e74c3c;
                color: white;
                border-radius: 0;
                padding: 1.5rem 2rem;
                font-size: 1rem;
                margin-right: 15px;
            }
            
            .slider-btn .btn-2 {
                color: #111010;
                background-color: #00ced1;
            }
            /*------------Create-------*/
            
            #create {
                padding-top: 50px;
                padding-bottom: 50px;
                color: black;
            }
            
            #create .btn {
                margin-top: 20px;
                margin-bottom: 30px;
            }
            
            .create-content {
                text-align: left;
                padding-top: 20px;
            }
            
            .container h2 {
                color: #007bff;
            }
            /*------------floating image-------*/
            
            .description-container {
                padding-left: 0px;
                margin-left: 10px;
                font-family: 'Roboto';
                font-size: 20px;
                font-weight: 300;
                line-height: 24px;
            }
            
            .description-container .floating-image {
                max-width: 600px;
            }
            
            .description-container .floating-image.right {
                float: right;
            }
            
            .create-paragraph p {
                margin-bottom: 15px;
                width: 500px;
                line-height: 120%;
            }
            
            .description-container h2 {
                color: #007bff;
                font-size: 30px;
                width: initial;
            }
            /*------------Cards with Hover effects-------*/
            
            #card {
                padding-top: 100px;
                padding-bottom: 50px;
                text-align: center;
                justify-content: left;
                color: #555;
            }
            
            .inner {
                overflow: hidden;
            }
            
            .inner img {
                transform: all 1.5s ease;
            }
            
            .inner:hover img {
                transform: scale(1.5);
            }
            
            .card shadow {
                width: 20%;
                margin-bottom: 50px;
            }
            
            .card-body {
                text-align: center;
                font-size: 18px;
            }
            
            .card-text {
                padding-top: 20px;
            }
            
            .row {
                display: flex;
                flex-direction: row;
            }
            
            .header h1 {
                color: #007bff;
                display: flex;
                word-wrap: inherit;
                justify-content: center;
                font-size: 50px;
                position: sticky;
            }
            /*------------progress bar-------*/
            
            .Success-rate {
                padding: 20px;
                margin: 20px;
                padding-left: 200px;
            }
            
            .Success-rate p {
                font-size: 25px;
                margin-bottom: 20px;
                font-weight: 600;
                text-align: left;
            }
            
            .progress-bar {
                border-radius: 16px;
                align-content: center;
                padding: 400px;
            }
            
            .progress {
                border-radius: 16px !important;
                margin-bottom: 20px;
                align-content: center;
                margin-left: 200px;
            }